@import '../config' ;

.sns {
    display: flex;
    align-items: center;
    &Item {
        width: 30px;
        &:not(:last-child) {
            @include media-pc {
                margin-right: 30px;
            }
            @include media-sp {
                margin-right: 20px;
            }
        }
        img {
        width: 100%;
        object-fit: cover;
        }
    }
}