$color-theme: #ddd;
$font-base: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;

$media-pc: 'screen and (min-width: 1080px)';
$media-sp: 'screen and (max-width: 1079px)';

@mixin content-width {
    @include media-pc {
        margin: 0 auto;
        width: 70%;
        min-width: 1080px;
    }
    @include media-sp {
        padding: 0 50px;
        width: 100%;
    }
}

// PC
@mixin media-pc {
    @media #{$media-pc} {
        @content;
    }
}

// SP
@mixin media-sp {
    @media #{$media-sp} {
        @content;
    }
}