@import '_config';

.totalCount {
    margin-top: 50px;
}

.list {
    @include media-pc {
        margin: 20px auto 50px;
    }
    @include media-sp {
        margin: 20px auto 50px;
    }
}

.item {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
    @include media-pc {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        padding: 40px 50px;
    }
    @include media-sp {
        display: block;
        margin-bottom: 50px;
    }
    &::after {
        content: '';
        position: absolute;
        background-color: #000;
        @include media-pc {
            top: 50%;
            left: 40%;
            width: 1px;
            height: 95%;
            transform: translateY(-50%);
        }
    }
}

.left {
    @include media-pc {
        padding-right: 50px;
        width: 40%;
        flex-shrink: 0;
    }
    @include media-sp {
        display: block;
        border-bottom: 1px solid #000;
        padding: 20px ;
    }
}

.right {
    @include media-pc {
        flex-shrink: 0;
        padding-left: 50px;
        width: 59%;
        height: 100%;
        flex-shrink: 0;
    }
    @include media-sp {
        padding: 20px;
    }
}

.title {
    font-size: 30px;
    
    width: 90%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    @include media-pc {
        margin-bottom: 30px;
    }
    @include media-sp {
        margin-bottom: 15px ;
    }
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}

.author {
    margin-right: 25px;
    
}

.labels {
    display: flex;
    flex-wrap: wrap;
}

.label {
    padding: 5px 20px;
    border-radius: 20px;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
}

.content {
    & > p > * {
        margin-bottom: 5px;
        display: inline-block;
    }
     img {
        width: 100%;
    }
    code {
        background-color: #eee;
        padding: 10px;
    }
    a {
        border-bottom: 1px solid #000;
        cursor: pointer;
    }
}