@import '_config';

.header {
  background-color: $color-theme;
  color: #fff;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  &Inner {
    @include content-width;
    @include media-pc {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @include media-sp {
      //
    }
  }
}

.main {
  @include content-width;
}

.footer {
  background-color: $color-theme;
  color: #000;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &Inner {
    text-align: center;
  }
}